version: "3.9"

services:
  backend:
    build: .
    container_name: express-backend
    restart: always
    ports:
      - "3000:3000"
    environment:
      PORT: 3000
      DB_HOST: mysql
      DB_NAME: internship_db
      DB_USER: root
      DB_PASS: Itachi12
      JWT_SECRET: supersecret123
    volumes:
      - ./.env:/src/.env   # <-- Mount the .env file here
    depends_on:
      - mysql
    networks:
      - app-network

  mysql:
    image: mysql:8
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: Itachi12
      MYSQL_DATABASE: internship_db
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app-network

networks:
  app-network:

volumes:
  mysql_data:
